.button_select_header,
.alerts,
.insights {
  margin-top: 3rem;
}

.page {
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1.5rem;
}

.alerts {
}

.insights {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(17rem, 1fr);
  gap: 1.5rem;
}

.button_select_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 960px) {
  .insights {
    grid-template-columns: 1fr;
  }
}
