.vitals_trending,
.vitals_row {
  display: flex;
  flex-direction: row;
}

.vitals_row {
  gap: 1rem;
}

.vitals_card_negative {
  background-color: var(--color-surface-container-low);
  border: 0.5px solid var(--color-badge-critical-text);
}

.vitals_card_neutral {
  background-color: var(--color-surface-container);
}

.vitals_title {
  font-size: var(--font-size-body-lg);
}

.vitals_title {
  color: var(--color-text-on-surface-variant);
}

.vitals_trending {
  align-items: center;
}

.vitals_trending_negative {
  color: var(--color-badge-critical-text);
}

.vitals_trending_positive {
  color: var(--color-text-title);
}

.vitals_trending_neutral {
  color: var(--color-text-on-surface-variant);
}

.vitals_icon {
  margin-right: 0.2rem;
}

.vitals_total {
  font-size: var(--font-size-threat-lg);
  font-weight: var(--font-weight-bold);
}
