.header {
  display: grid;
  grid-template-columns: 2.2fr 1fr 1.2fr 1fr 1fr 1fr;
  padding: 2rem 1.5rem;
  font-weight: 600;
  font-size: 14px;
}

.header_option {
  color: var(--color-text-input);
  font-size: var(--font-size-body-md);
}
